.main {
  background-image: linear-gradient(
    90deg,
    #bfbfde 25%,
    #ada8cf 25%,
    #ada8cf 50%,
    #bfbfde 50%,
    #bfbfde 75%,
    #ada8cf 75%,
    #ada8cf 100%
  );
  background-size: 240px 240px;
  background-size: 240px 240px;
  height: calc(100vh - 100px);
  min-height: 900px;
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidePanel {
  margin-left: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidePanel h1 {
  font-family: "Scifi";
  margin: 20px 0px 5px;
  font-size: 24px;
}

.simulationPanel {
  transition: 0.4s;
  overflow-y: hidden;
  font-family: "Scifi";
  width: 100%;
}

.simulationPanel div {
  padding: 10px;
  background-color: #f1e9ff;
  border: 3px solid rgb(142, 142, 170);
  border-top-color: rgb(205, 205, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}
