@font-face {
  font-family: "Scifi";
  src: url("./RobotWrath/Fonts/nulshock.ttf");
}

@font-face {
  font-family: "Power";
  src: url("./RobotWrath/Fonts/Optimus.otf");
}

@font-face {
  font-family: "Health";
  src: url("./RobotWrath/Fonts/911porschav3.ttf");
}

@font-face {
  font-family: "Title";
  src: url("./RobotWrath/Fonts/DreamMMA.ttf");
}
